@import url(http://fonts.googleapis.com/css?family=Lato|Ubuntu|Quattrocento+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato|Ubuntu|Quattrocento+Sans);
.btn.info, .news-info {
  background: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  border-radius: 0; }

.btn.info:hover {
  background: #2d2d2d; }

.news-info {
  color: #fff; }

.btn-def-lg {
  border-radius: 0;
  background: #3e4142;
  border: none;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75); }
  .btn-def-lg:hover {
    background: #575b5c; }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../../fonts/icomoon/icomoon.eot?-ee0u0f");
  src: url("../../fonts/icomoon/icomoon.eot?#iefix-ee0u0f") format("embedded-opentype"), url("../../fonts/icomoon/icomoon.woff?-ee0u0f") format("woff"), url("../../fonts/icomoon/icomoon.ttf?-ee0u0f") format("truetype"), url("../../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon") format("svg"); }
.grid {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 42px; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  cursor: pointer;
  width: 100%; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  margin-top: 92px;
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

figure:hover {
  background: transparent; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h5 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h5 span {
  font-weight: 800; }

.grid figure h5,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #fff;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

figure.effect-zoe h2 {
  float: left; }

figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em; }

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31; }

figure.effect-zoe p.description {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  /* Fix for Chrome 37.0.2062.120 (Mac) */ }

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0); }

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-eye::before {
  content: '\e000'; }

.icon-paper-clip::before {
  content: '\e001'; }

.icon-heart::before {
  content: '\e024'; }

figure.effect-zoe h2 {
  display: inline-block; }

figure.effect-zoe:hover p.description {
  opacity: 1; }

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

/*---------------*/
/***** Oscar *****/
/*---------------*/
figure.effect-oscar {
  background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
  background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%); }

figure.effect-oscar img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-oscar figcaption {
  padding: 3em;
  background-color: rgba(58, 52, 42, 0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s; }

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: ''; }

figure.effect-oscar h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0); }

figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-oscar:hover figcaption {
  background-color: rgba(58, 52, 42, 0); }

figure.effect-oscar:hover img {
  opacity: 0.4; }

/*---------------*/
/***** Marley *****/
/*---------------*/
figure.effect-marley figcaption {
  text-align: right; }

figure.effect-marley h2,
figure.effect-marley p {
  position: absolute;
  right: 30px;
  left: 30px;
  padding: 10px 0; }

figure.effect-marley p {
  bottom: 30px;
  line-height: 1.5;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

figure.effect-marley h2 {
  top: 30px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-marley:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-marley h2::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  content: '';
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0); }

figure.effect-marley h2::after,
figure.effect-marley p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*---------------*/
/***** Milo *****/
/*---------------*/
figure.effect-milo {
  background: #2e5d5a; }

figure.effect-milo img {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure.effect-milo:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

figure.effect-milo h5 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em; }

figure.effect-milo p {
  padding: 0 10px 0 0;
  width: 50%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

figure.effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*---------------*/
/***** Lily *****/
/*---------------*/
figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

figure.effect-lily figcaption {
  text-align: left; }

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%; }

figure.effect-lily h5,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0); }

figure.effect-lily h5 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }

figure.effect-lily p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s; }

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1; }

figure.effect-lily:hover img,
figure.effect-lily:hover h5,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s; }

/*Effect 1*/
/*figure {
    background: rgba(0,0,0,.8);
    div {
        margin-top: 92px;
    }
    &:hover {
        background: transparent;
    }
}
figure:hover div {
    background: rgb(0,0,0);
    color: white;
}*/
footer {
  background: #353334;
  color: white; }
  footer p {
    text-align: center;
    margin-top: 22px; }

.nav_wrap {
  font-size: 14px;
  padding: 20px;
  background: url("/Content/images/background-jumbotron.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 70%; }

nav.navbar.navbar-default {
  background: transparent;
  border: none; }

ul.nav.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-top: 32px; }

.navbar .navbar-collapse {
  text-align: center; }

.navbar-brandd {
  /*background: $light;*/
  width: 140px;
  height: 140px;
  display: inline-block;
  border-radius: 50%; }
  .navbar-brandd img {
    width: 140px; }

.navbar-brand.small-brand img {
  width: 50px;
  height: 50px; }

ul.nav.navbar-nav.navbar-right {
  margin-top: 4%; }

.navbar-default .navbar-nav > li > a {
  color: #727675; }

.navbar-default .navbar-nav > li > a:hover {
  color: #737675; }

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #727675;
  border-bottom-color: #727675; }
  .navbar-default .navbar-nav > .dropdown > a .caret:hover {
    color: white;
    border-top-color: #727675;
    border-bottom-color: #727675; }

.dropdown-menu > li > a {
  color: #727675; }

.dropdown-menu {
  background: #e3e0db;
  color: #727675;
  border: none; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
  color: #727675; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: white;
  background: #727675; }

body {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: auto; }
  body h3 {
    color: #fff; }

.jumbotron-parallax {
  width: 100%;
  background: transparent;
  min-height: 100%; }
  .jumbotron-parallax .jumbo-wrap {
    text-align: center;
    color: #737675;
    margin-top: 6%;
    font-family: 'Quattrocento+Sans', sans-serif;
    padding: 0 30px; }
  .jumbotron-parallax h1 {
    color: #737675;
    font-weight: lighter; }
  .jumbotron-parallax p {
    margin-top: 2%;
    font-size: 16px;
    font-weight: lighter; }

.jumbotron h1 {
  text-align: center;
  font-size: 46px; }

.jumbotron-1 {
  /*background: url('/Content/images/bg-about.png') no-repeat;*/
  color: #757575;
  padding-bottom: 106.5px;
  height: 422px; }
  .jumbotron-1 h1 {
    margin-bottom: 33px; }
  .jumbotron-1 .aboutUs {
    text-align: center;
    font-size: 16px; }
  .jumbotron-1 p {
    line-height: 2;
    margin-bottom: 32px; }
  .jumbotron-1 .btn-wrap {
    text-align: center; }

.jumbotron-2 {
  background: #e0e0e0;
  color: #e0e0e0;
  padding-bottom: 106.5px; }
  .jumbotron-2 h1 {
    color: #757575;
    margin-bottom: 33px; }

.jumbotron-3 {
  background: #2d2d2d;
  background-size: cover;
  background-position: center center;
  color: #757575; }
  .jumbotron-3 h1 {
    margin-bottom: 33px;
    color: #E0E0E0; }
  .jumbotron-3 .products {
    height: 490px; }

.jumbotron-4 {
  background: #9E9E9E; }
  .jumbotron-4 h1 {
    color: #757575; }

.jumbotron-5 {
  background: #9E9E9E; }
  .jumbotron-5 h1 {
    color: #FFFFFF;
    margin-bottom: 33px; }

.jumbotron-6 h1 {
  margin-bottom: 33px; }

.card-wrap {
  display: inline-block;
  width: 100%;
  text-decoration: none; }

.product-wrap {
  color: #e0e0e0;
  background: #3e4142; }
  .product-wrap:hover {
    text-decoration: none;
    background: #E53935;
    color: #e0e0e0;
    -webkit-transition: width 2s, height 2s, background 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background 2s, transform 2s; }

.card {
  padding: 8px 16px;
  -webkit-box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.3); }
  .card .card-header {
    text-align: center; }
  .card .card-description {
    font-size: 14px;
    text-align: center; }
  .card .btn-card {
    text-align: center;
    background: #4E3E2F;
    color: #e0e0e0;
    border: none; }
    .card .btn-card:hover {
      border: none;
      background: transparent;
      color: #212121;
      box-shadow: 0px 11px 13px 0px rgba(50, 50, 50, 0.3); }

.card-product {
  padding-top: 10%;
  height: 232px; }

.contact h1 {
  text-align: left;
  color: #737675;
  font-size: 32px; }
.contact address {
  font-size: 14px;
  color: #737675; }

.service-a-wrap {
  text-decoration: none; }
  .service-a-wrap:hover {
    text-decoration: none;
    zoom: 1; }

.services {
  margin-bottom: 100px; }

.hexagon {
  position: relative;
  width: 250px;
  height: 144.34px;
  background-color: #B71C1C;
  margin: 72.17px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  color: white;
  transition: all 0.2s linear;
  margin-left: 40px; }
  .hexagon .service-header {
    text-align: center;
    font-size: 18px;
    margin-top: 22px; }
  .hexagon:hover .service-description {
    display: block;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s; }

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 176.78px;
  height: 176.78px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 36.6117px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.hexagon:before {
  top: -88.3883px; }

.hexagon:after {
  bottom: -88.3883px; }

/*cover up extra shadows*/
.hexagon .service-wrap {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 250px;
  height: 144.3376px;
  z-index: 2;
  background: inherit;
  padding: 3px; }

.view {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 244px;
  height: 200px; }
  .view .mask {
    width: 244px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    transition: all 0.4s ease-in-out; }
  .view .service-description {
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear; }
  .view .btn {
    opacity: 0;
    transition: all 0.2s ease-in-out; }

.view:hover .service-header {
  margin-top: 0; }

.view:hover .mask,
.view:hover .btn {
  opacity: 1; }

.view:hover .service-description {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s; }

.view:hover .btn {
  transition-delay: 0.2s; }

.title {
  color: #595755;
  margin: 48px 0 42px 0; }

.large-wrap {
  -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
  padding: 16px 32px;
  margin: 0px 0 42px 0;
  background: #9E9E9E; }
  .large-wrap .caption {
    color: #F5F5F5; }
    .large-wrap .caption h3 {
      color: #F5F5F5; }

.news_wrap {
  text-decoration: none; }
  .news_wrap:hover {
    text-decoration: none; }

.thumbnail.news-thumb {
  margin-bottom: 32px;
  color: #EEEEEE;
  background: #757575;
  border: none;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  height: 278px;
  border-radius: 0; }
  .thumbnail.news-thumb p {
    color: #fff;
    line-height: 1.5em; }

.prism-title {
  color: #616161;
  margin: 42px 0; }

.colored-point {
  background: #424242;
  width: 100%;
  height: 56px;
  width: 56px;
  min-width: 56px;
  border-radius: 50%;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;
  position: relative;
  margin-top: 22px; }

.prism-wrap {
  padding: 8px 18px;
  /*border: 1px solid rgba(0,0,0,.5);*/
  -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.72);
  -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.72);
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.72);
  margin-bottom: 42px;
  height: 232px;
  background: #9E9E9E;
  color: #eee; }
  .prism-wrap h4 {
    padding-bottom: 3px; }
  .prism-wrap:hover {
    zoom: 1; }

.team h1 {
  color: #595755;
  margin: 48px 0 42px 0;
  text-align: center; }
.team .thumbnail {
  margin-bottom: 42px; }
  .team .thumbnail img {
    width: 100%; }
  .team .thumbnail h3 {
    color: #595755; }

footer {
  background: #2d2d2d;
  color: white;
  text-align: center;
  height: 60px;
  padding-top: 16px; }

@media (max-width: 1080px) {
  .thumbnail.news-thumb {
    height: 341px; }

  .slick-next {
    right: -14px; }

  .slick-prev {
    left: -14px; } }
@media (max-width: 990px) {
  .thumbnail.news-thumb {
    height: 368px; }

  .slick-next {
    right: -25px; }

  .slick-prev {
    left: -25px; } }
@media (max-width: 770px) {
  .navbar-default .navbar-toggle {
    background-color: #d71822; }
    .navbar-default .navbar-toggle:hover {
      background-color: lighten #d71822, 10%; }

  .navbar-toggle {
    margin-top: 36px; }

  .navbar-brand.small-brand img {
    width: 70px;
    height: 70px; }

  .jumbotron {
    padding-top: 0; }

  .thumbnail.news-thumb {
    height: 441px; }

  .slick-next {
    right: -12px; }

  .slick-prev {
    left: -12px; } }
@media (max-width: 640px) {
  .navbar-default .navbar-toggle {
    background-color: #d71822; }
    .navbar-default .navbar-toggle:hover {
      background-color: lighten #d71822, 10%; }

  .navbar-toggle {
    margin-top: 22px; }

  .jumbotron-parallax {
    padding: 0; }
    .jumbotron-parallax .jumbo-wrap {
      padding-top: 42px; }

  .jumbotron {
    padding-top: 0; }
    .jumbotron h1 {
      font-size: 28px; }

  .jumbotron-1 {
    padding-bottom: 16px;
    height: auto; }
    .jumbotron-1 h1 {
      margin-bottom: 16px;
      text-align: left; }
    .jumbotron-1 .aboutUs {
      text-align: left; }
    .jumbotron-1 p {
      margin-bottom: 16px; }
    .jumbotron-1 .btn-wrap {
      text-align: left; }

  .jumbotron-2 {
    padding-bottom: 16px; }

  .product-wrap {
    margin-bottom: 22px; }

  .hexagon-wrap {
    margin: 166px 0; }
    .hexagon-wrap .hexagon {
      margin-left: 0;
      position: relative; }
      .hexagon-wrap .hexagon .view {
        display: block; }
        .hexagon-wrap .hexagon .view .mask {
          display: block; }

  .services {
    margin-bottom: 16px; }

  .thumbnail.news-thumb {
    height: 541px; }

  .slick-prev, .slick-next {
    display: none !important; } }
.margin-bottom-0 {
  margin-bottom: 0; }

/*.margin-left-131 {
    margin-left: 187px;
}
.col-md-3.width-22 {
    width: 22%;
     margin-top: -66px;
}
.col-md-4.small-width-col {
    width: 22%;
    margin-top: -66px;
}
.clear-right {
    clear: right;
}
.clear-left {
    clear: left;
    margin-left: 58px;
}
.padding-left {

}*/
.body {
  background: #000000;
  color: white; }
  .body h1 {
    color: white; }

/*# sourceMappingURL=ortana.css.map */
