﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @*<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css" />*@



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="jumbotron jumbotron-parallax margin-bottom-0" id="parralaxJumbo" data-parallax="scroll" data-naturalheight="auto" data-image-src="/Content/images/background-jumbotron.jpg">
        <div class="text-center clearfix hidden-xs">
            <a class="navbar-brandd" href="#"><img src="~/Content/images/ortana.png" alt="Ortana Media group" /></a>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand small-brand visible-xs" href="#"><img src="~/Content/images/ortana-logo-xs.png" alt="Ortana Media group" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About us", "index", "Home", null, null, "about", null, null)</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cubix", "index", "Home", null, null, "products", null, null)</li>
                                <li>@Html.ActionLink("ClickToEncode", "index", "Home", null, null, "products", null, null)</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Professional Services & Design", "index", "Home", null, null, "services", null, null)</li>
                                <li>@Html.ActionLink("Prism", "Prism", "Home")</li>
                                <li>@Html.ActionLink("ClickToEncode", "index", "Home", null, null, "services", null, null)</li>
                                <li>@Html.ActionLink("Support", "index", "Home", null, null, "services", null, null)</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Meet The Team", "Team", "Home")</li>
                        <li>@Html.ActionLink("News", "New s", "Home")</li>
                        <li>@Html.ActionLink("Press Releases", "PressRelease", "Home")</li>

                        <li>@Html.ActionLink("Contact us", "index", "Home", null, null, "contact", null, null)</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="jumbo-wrap">
            <h1>Welcome to Ortana Media Group </h1>
            <p>
                A uniquely service-lead solutions, software and hardware provider to media and broadcast sectors.
            </p>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/parallax")
    @Scripts.Render("~/bundles/bootstrap")   
    @Scripts.Render("~/bundles/main-js")
    @*<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js"></script>*@

    @RenderSection("scripts", required: false)

    @* News Carousel JS *@
    <script>
        $(document).ready(function () {
            $('.news_carousel').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 3,
                responsive: [
                  {
                      breakpoint: 1024,
                      settings: {
                          slidesToShow: 3,
                          slidesToScroll: 3,
                          infinite: true,
                          dots: true
                      }
                  },
                  {
                      breakpoint: 600,
                      settings: {
                          slidesToShow: 2,
                          slidesToScroll: 2
                      }
                  },
                  {
                      breakpoint: 480,
                      settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1
                      }
                  }
                  // You can unslick at a given breakpoint now by adding:
                  // settings: "unslick"
                  // instead of a settings object
                ]
            });
        })
    </script>

</body>
</html>
