﻿$dark : #000;
$light : white;


//Background colors
$orange: #FA8D11;
$light-orange : #FAB243;
$gray: #595755;
$dark-gray:  #353334;
$light-gray: #7E7C7D;
$red: #EB4D28;
$light-red: #f06060;

//logo color
$logo-gray: #727675;

//navigation
$gray: $logo-gray;

//menu-colors
$menu-item-color: $gray;
$menu-bor-color: rgba(113, 117, 113, .33);

$main-bg : $orange;
$light2 : $light-orange;
$sec-bg : $gray;
$md-dark-bg : $dark-gray;
$light-bg : $light-gray;
$main-light-bg : #FAB243;
$main-dark-bg : $red;
$red : #fb887c;
$red2 : $light-red;


//Title

$headers : h1, h2, h3, h4;


//index2.3
$dark_gray: #757575;
$light_gray: #eee;