﻿@import '../helpers/helpers';
@import url(http://fonts.googleapis.com/css?family=Lato|Ubuntu|Quattrocento+Sans);

body {
  color: set-text-color($md-dark-bg);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: auto;
  h3 {
    color: set-text-color($md-dark-bg);
  }
}
.jumbotron-parallax  {
  width: 100%;
  background:transparent;
  min-height: 100%;
  .jumbo-wrap {
    text-align: center;
    color: rgb(115, 118, 117);
    margin-top: 6%;
    font-family: 'Quattrocento+Sans', sans-serif;
    padding: 0 30px;
  }
  h1{
    color: rgb(115, 118, 117);
    font-weight: lighter;
  }
  p {
    margin-top: 2%;
    font-size: 16px;
    font-weight: lighter;
  }
}

// index2.3
.jumbotron {
    h1 {
    text-align: center;
    font-size: 46px;
    }
}
.jumbotron-1 {
    /*background: url('/Content/images/bg-about.png') no-repeat;*/
    color: $dark_gray;
     padding-bottom: 106.5px;
     height: 422px;
     h1 {
         margin-bottom: 33px;
     }
    .aboutUs {
        text-align: center;
        font-size: 16px;
    }
   p {
       line-height: 2;
       margin-bottom: 32px;
   }
   .btn-wrap {
       text-align: center;
   }
}
.jumbotron-2 {
    background: #e0e0e0;
    color: #e0e0e0;
    padding-bottom: 106.5px;
    h1 {
        color: $dark_gray;
         margin-bottom: 33px;
    }
}
.jumbotron-3 {
    background: #2d2d2d;
    background-size: cover;
    background-position: center center;
      color: $dark_gray;
      h1 {
          margin-bottom: 33px;
          color: #E0E0E0 ;
      }
      .products {
          height: 490px;
      }
}
.jumbotron-4 {
    background: #9E9E9E;
    h1 {
        color: $dark_gray;
    }
}
.jumbotron-5 {
    background: #9E9E9E;
    h1{
        color: #FFFFFF;
        margin-bottom: 33px;
    }
}
.jumbotron-6 {
    h1 {
        margin-bottom: 33px;
    }
}
.card-wrap {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.product-wrap {
    color: #e0e0e0;
    background: #3e4142; 
    &:hover {
        text-decoration: none;
        background: #E53935;
        color: #e0e0e0;
        -webkit-transition: width 2s, height 2s, background 2s, -webkit-transform 2s;
        transition: width 2s, height 2s, background 2s, transform 2s;
    }
}
.card {
    padding: 8px 16px;
    -webkit-box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    3px 3px 13px 0px rgba(50, 50, 50, 0.3);
     box-shadow:         3px 3px 13px 0px rgba(50, 50, 50, 0.3);
    .card-header {
        text-align: center;
    }
    .card-description {
        font-size: 14px;
        text-align: center;
    }
    .btn-card {
        text-align: center;
        background: #4E3E2F; //dark brown
        color: #e0e0e0;
          border: none;
        &:hover {
            border:none;
            background: transparent;
            color: #212121;
            box-shadow: 0px 11px 13px 0px rgba(50, 50, 50, 0.3);
        }
    }
}
 .card-product{
     padding-top: 10%;
     height: 232px;
   }
.contact {
    h1 {
        text-align: left;
        color: rgb(115, 118, 117);
        font-size: 32px;
    }
    address {
        font-size: 14px;
        color: rgb(115, 118, 117);
    }
}
.service-a-wrap {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        zoom: 1;
    }
}
.services {
    margin-bottom: 100px;
}
// hexagon normal 
.hexagon {
  position: relative;
  width: 250px; 
  height: 144.34px;
  background-color: #B71C1C;
  margin: 72.17px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  color: white;
  transition: all 0.2s linear;
  margin-left: 40px;
  .service-header {
      text-align: center;
      font-size: 18px;
      margin-top: 22px;
  }
  &:hover .service-description {
      display: block;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
  }
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 176.78px;
  height: 176.78px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 36.6117px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
.hexagon:before {
  top: -88.3883px;
}
.hexagon:after {
  bottom: -88.3883px;
}
/*cover up extra shadows*/
.hexagon .service-wrap {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:250px;
  height:144.3376px;
  z-index: 2;
  background: inherit;
  padding: 3px;
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
     width: 244px;
    height: 200px;
    .mask {
        width: 244px;
        height: 200px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: transparent;
        transition: all 0.4s ease-in-out;
    }
    .service-description {
         font-size: 14px;
        position: relative;
        color: #fff;
        padding: 0px 20px 0px;
        text-align: center;
        transform: translateY(100px);
        opacity: 0;
        transition: all 0.2s linear;
    }
    .btn {
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }
}
.view:hover .service-header {
    margin-top: 0;
}
.view:hover .mask,
.view:hover .btn 
 { 
    opacity: 1;
}
.view:hover .service-description {
     opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}
.view:hover .btn {
    transition-delay: 0.2s;
}
.service1 {
  
}
//News Page 
.title {
    color: set-text-color(white);
     margin: 48px 0 42px 0;
}
.large-wrap{
    -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.75);
     box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.75);
     padding: 16px 32px;
     margin: 0px 0 42px 0;
     background: #9E9E9E;
     .caption{
          color: #F5F5F5;
          h3{
            color: #F5F5F5;
          }
     }
}
.news_wrap {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.thumbnail.news-thumb {
    margin-bottom: 32px;
    color: #EEEEEE;
    background: #757575;
    border: none;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    height: 278px;
    border-radius: 0;
   p {
       color:set-text-color(#757575);
       line-height: 1.5em;
   }
}
//Prism Page
.prism-title {
    color: #616161;
    margin: 42px 0;
}
.colored-point {
    background: #424242;
    width: 100%;
    height: 56px;
    width: 56px;
    min-width: 56px;
    border-radius: 50%;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    overflow: hidden;
    position: relative;
    margin-top: 22px;
}
.prism-wrap {
    padding: 8px 18px;
    /*border: 1px solid rgba(0,0,0,.5);*/
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.72);
    margin-bottom: 42px;
    height: 232px;
    background: #9E9E9E;
    color: #eee;
    h4 {
        padding-bottom: 3px;
    }
    p {
    }
    &:hover {
        zoom: 1;
    }
}
// Team Page
.team {
    h1 {
        color: set-text-color(white);
        margin: 48px 0 42px 0;
        text-align: center;
    }
    .thumbnail {
        margin-bottom: 42px;
        img{
            width: 100%;
        }
        h3{
        color: set-text-color(white);

        }
    }
}
/*footer {
    background: #2d2d2d;
    color: $light;
    text-align: center;
    height: 60px;
    padding-top: 16px;
}*/