﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>*@
<style>
    #map-canvas {
        width: 100%;
        height: 400px;
        margin: 0px;
        padding: 0px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            center: new google.maps.LatLng(51.527197, -0.257106),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>lat
@*<script>
        function initialize() {
            var myLatlng = new google.maps.LatLng(51.527197, -0.257106);
            var mapOptions = {
                zoom: 4,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Hello World!'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>*@
<div id="about" class="jumbotron margin-bottom-0 jumbotron-1">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="aboutUs">
                    <h1>About us</h1>
                    <div class="line">
                        <span class="line_"></span>
                    </div>
                    <p class="aboutUs_intro">
                        Ortana Media Group offers a wide range of services - from Systems Integration through to support, hosting and professional services. Throughout all our services, we pride ourselves on having a service-lead approach, reflecting our roots. We believe that we should be there to assist on clients in every stage of the process, from inception and design - through comissioning and crucially post sales support. We feel this makes us different to any existing reseller or systems integrator available on the market today.
                    </p>
                    <div class="btn-wrap">
                        <a href="@Url.Action("Team", "Home")" class="btn btn-primary btn-lg btn-def-lg">Meet The Team</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div id="products" class="jumbotron margin-bottom-0 jumbotron-2">
    <div class="container">
        <div class="row">
            <div class="products clearfix">
                <div class="col-xs-12">
                    <h1>Our Products</h1> 
                    <div class="line line-2">
                        <span class="line_"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    @*<div class="wrap">
                        <div class="triangle-down">
                            <div class="description1">
                                <h4>Cubix</h4>
                                <p>Orchestration, Automation and Asset Management.</p>                           
                             </div>
                        </div>
                    </div>*@
                    <a id="cubix" class="card-wrap product-wrap" href="http://www.cubix.tv/">
                        <div class="card card-product">
                            <div class="card-header">Cubix</div>
                            <div class="card-description">Orchestration, Automation and Asset Management.</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-md-6">
                    @*<div class="wrap">
                        <div class="triangle-up">
                            <div class="description2">
                                <h4>ClickToEncode</h4>
                                <p>Enterprise Support, Live Monitoring and Professional Services.</p>
                            </div>
                        </div>
                    </div>*@
                    <a id="clik2encode" class="card-wrap product-wrap" href="http://www.click2encode.com/">
                        <div class="card card-product">
                            <div class="card-header">ClickToEncode</div>
                            <div class="card-description">Enterprise Support, Live Monitoring and Professional Services.</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="services" class="jumbotron margin-bottom-0 jumbotron-3">
    <div class="container">
        <div class="row padding-left">
            <div class="services clearfix">
                <div class="col-xs-12"><h1>Our Services</h1></div>
                <div class="col-xs-12 col-sm-6    col-md-4 width-22 clear-left">
                    <div class="hexagon-wrap">
                        <div class="hexagon service1">
                            <div class="service-wrap">
                                <div class="service-header">Professional Services &amp; design</div>
                                <div class="view">
                                    <div class="mask">
                                        <div class="service-description">Design team for workflow, portal design and systems integration.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 width-22"> 
                    <div class="hexagon-wrap">
                        <div class="hexagon service2">
                            <div class="service-wrap">
                                <div class="service-header">Prism</div>
                                <div class="view">
                                    <div class="mask">
                                        <div class="service-description">Enterprise Support, Live Monitoring, 24/7</div>
                                        <a href="@Url.Action("Prism", "Home" )" class="btn btn-default info">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 width-22">
                    <div class="hexagon-wrap">
                        <div class="hexagon service4">
                            <div class="service-wrap">
                                <div class="service-header">ClickToEncode</div>
                                <div class="view">
                                    <div class="mask">
                                        <div class="service-description">High Quality efficient open source transcoding.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="news_" class="jumbotron margin-bottom-0 jumbotron-5">
    <div class="container">
        <div class="row">
            <div class="news clearfix">
                <div class="col-xs-12"><h1>News</h1></div>
                <div class="row">
                    <div class="news_carousel resposive clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a class="news_wrap" href="@Url.Action("News", "Home")">
                                <div class="thumbnail news-thumb">
                                    <div class="caption">
                                        <h3>IBC 2015 - Amsterdam</h3>
                                        <p>Come and visit us at:</p>
                                        <p>Hall Number: 8</p>
                                        <p>Stand Number: 8.B38c</p>
                                        <p>September 11th - 15th</p>
                                        <p><a href="http://www.ibc.org/Exhibitor/Ortana-Media-Group-Limited" class="btn btn-default news-info info" role="button">More...</a></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a class="news_wrap" href="@Url.Action("News", "Home")">
                                <div class="thumbnail news-thumb">
                                    <div class="caption">
                                        <h3>NAB - Las Vegas</h3>
                                        <p>NAB Show is an annual trade show produced by the National Association of Broadcasters. It takes place in April at the Las Vegas Convention Center in Las Vegas, Nevada. The show's tagline is "Where Content Comes to Life". We'll be attending NAB in Las Vegas from 11-16 April. You can come and see as at stand SL05621.</p>
                                        <p><a href="http://nab15.mapyourshow.com/6_0/exhibitor/exhibitor-details.cfm?ExhID=5171464" class="btn btn-default news-info info" role="button">More...</a></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a class="news_wrap" href="@Url.Action("News", "Home")">
                                <div class="thumbnail news-thumb">
                                    <div class="caption">
                                        <h3>New Offices</h3>
                                        <p>We relocated our offices to North Acton, London UK.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a class="news_wrap" href="@Url.Action("News", "Home")">
                                <div class="thumbnail news-thumb">
                                    <div class="caption">
                                        <h3>Rebranding</h3>
                                        <p>Loft London Solutions Limited has been rebranded to Ortana Media Group on March 2015.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact" class="jumbotron margin-bottom-0 jumbotron-6">
    <div class="container">
        <div class="row">
            <div class="contact clearfix">
                <div class="col-xs-12 col-md-4">
                    <h1>Contact us</h1>
                    <address>
                        <strong>Ortana Media Group</strong><br>
                        The Old Torpedo Factory <br />
                        St Leonards Rd<br>
                        London NW10 6ST, UK<br>
                        <abbr title="Phone">P:</abbr> +44 203 651 9911 <br />
                        <a href="mailto:info@ortana.tv">info@ortana.tv</a>
                    </address>
                </div>
                <div class="col-xs-12 col-md-8">
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer><h5>Copyright &copy;2015</h5></footer>

