﻿@{
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
    ViewBag.Title = "Home Page";
}
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><h1 class="prism-title text-center">Prism</h1></div>
            <div class="col-xs-12 col-md-6">
                <div class="prism-wrap">
                    <h4>Live monitoring solution</h4>
                    <p>Our Network Operations Centre can securely monitor your entire Cubix platform, as well as all the devices it depends on and integrates with through our FourTier monitoring system. This is even possible when your core system has no direct access to the internet.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="prism-wrap">
                    <h4>ITIL Based, 24x7x365 Enterprise Support</h4>
                    <p>Available round the clock – our enterprise class support structure is based around well proven ITIL-based methods to ensure you receive the best possible level of support.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="prism-wrap">
                    <h4>Service Based Approach to support</h4>
                    <p>We come from a background of providing media based services within the industry – giving us real life experience of the pressures and commitments you face. This is shown is our service-based focus towards support.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="prism-wrap">
                    <h4>Support Portal</h4>
                    <p>PRISM provides you with a support portal, allowing you to see all your incidents, problems, change requests, knowledge base – and even a live view of the status of your system</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="prism-wrap">
                    <h4>Operation options</h4>
                    <p>Thanks to its excellent levels of monitoring, PRISM also provides options for operating workflows on your behalf on an out of hours basis. This can allow you to offer your clients 24 hour solutions – without the need for you to staff 24 hour a day.</p>
                </div>
            </div>
        </div>
    </div>


<footer><h5>Copyright &copy;2015</h5></footer>

